{% load staticfiles %}
{%include "header.html" %}


<style type="text/css">
	body{background-color: #fff;}        
</style>

<link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
<link href="{% static 'ckeditor/contents.css' %}" rel="stylesheet">

<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.js' %}"></script>
<script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<script src="{% static 'js/documento.js' %}"></script>
 <!--
 	____________________________________________________________________________
 	Pugins Utilizados 
 	
 	File style
 	Documentação  	
 	Para formatar campos inputs file
 	http://markusslima.github.io/bootstrap-filestyle
	
	ckeditor
	http://ckeditor.com/
	______________________________________________________________________________

 -->

<div class="page-header">
  <div class="container">
    <h2>Cadastro de Documento</h2>
  </div>
</div>
<form role="form" id="cadastro_documento" name="cadastro_documento" method="POST" action="/salvar_documento/"> 
	{% csrf_token %}
	
	<div class="container">                 
        <!-- Text input-->
        <div class="row">
			<div class='col-sm-12'>		
				<div class="form-group">
					<label class="control-label" for="titulo">Titulo</label>
					<input id="titulo" name="titulo" placeholder="Informe o título do artigo" class="form-control input-normal" type="text" required/>		
				</div>				
			</div>
		</div>
		
		<!-- Text input-->		
		<div class="row">
			<div class='col-sm-8'>
				<div class="form-group">
					<label class="control-label" for="autor">Autor</label>
					<input id="autor" name="autor" placeholder="Informe o autor" class="form-control" type="text" required/>							
				</div>
			</div>					

		    <div class='col-sm-4'>
		        <div class="form-group">
		        	<label class="control-label" for="data_publicacao">Data de publicação</label>
		            <div class='input-group date' data-provide="datepicker" data-date-format="yyyy-mm-dd" id="datepicker">
		                <input type='text' id="data_publicacao" name="data_publicacao" class="form-control" required />			                
		                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
		    </div>        
		</div>

		<div class="row">					
			<div class='col-sm-5'>		 
				<div class="form-group">										
					<p>
						<span class="glyphicon glyphicon-star star-decolorize classifica" ></span>
						<span class="glyphicon glyphicon-star star-decolorize classifica" ></span>
						<span class="glyphicon glyphicon-star star-decolorize classifica" ></span>
						<span class="glyphicon glyphicon-star star-decolorize classifica" ></span>
						<span class="glyphicon glyphicon-star star-decolorize classifica" ></span>
						<input type="hidden" id="classificacao" name="classificacao" value="">
					</p>
				</div>	
			</div>
		</div>
 
		<!-- Button -->
		<div class="row">		
			<div class='col-sm-8'>			
		    	<div class="form-group">		  
				    <div id="salvar" name="salvar" class="btn btn-success btn-xs criar-resumo">
				    	<b>Editar Resumo<b/>
				    </div>	  
				    <div id="salvar" name="salvar" class="btn btn-danger btn-xs cancelar-resumo">
				    	Finalizar Resumo
				    </div>			    
				</div>            
			</div>
		</div>
		
		<!-- This div will hold the editor. -->

		<div id="editor">
		</div>
		<div id="contents" style="display: none">
			<p>	Resumo do documento:</p>
			<!-- This div will be used to display the editor contents. -->
			<div id="editorcontents">
			</div>

			<div class="contents-html" style="display: none"></div>
			<input type="hidden" name="resumo_em_html" id="resumo_em_html" value=""/>
		</div>


		<div class="form-group">
		    <button id="salvar" type="submit"  name="salvar" class="btn btn-primary">Salvar</button>
		</div>

	</div>
</form>



 {% include "footer.html" %}