{% load staticfiles %}
{%include "header.html" %}


<style type="text/css">
     body{background-color: #fff;}    
</style>

<div class="page-header">
  <div class="container">
    <h2>Listar documentos</h2>
  </div>
</div>


<div class="container">                 
      <!-- Table -->
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Artigos</th>
                <th>Contexto</th>
            </tr>
        </thead>    
        <tbody>
        {% for documento in documentos %}
            <tr>
                <td {% if forloop.last %}class="last"{% endif %}>
                    <div class="title"> <a href="{% url 'revisao' documento.pk%}"> {{ documento.titulo }}</a></div>
                </td>
            <td> 
                {% for tag in documento.tag.all %}
                     <li> {{ tag.name }} </li>
                {% endfor %}
            </td>
        {% endfor %}      
        </tbody>
      </table>
</div>



{% include "footer.html" %}