{% load staticfiles %}
{%include "header.html" %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<style type="text/css">
        #rtitle {
            background: #eee; font-size: 1.3em; padding: 3px; margin-top: 40px;
            padding-left: 20px; margin-bottom: -10px;
        }
</style>

<div class="main">
        <div id="revisar">
            <div id="rtitle">{{ destino }}</div><br />
            <form action="{{ acao }}" method="POST"> {% csrf_token %}
                <input type="hidden" name="destino" size="150" value="{{ destino }}" /><br />
                <textarea id="conteudo" name="conteudo">&lt;p&gt;{{ conteudo }}&lt;/p&gt;</textarea>
			    <script type="text/javascript">
				    CKEDITOR.replace( 'conteudo', {Toolbar: 'Full', height: 460, width: 1350} );
			    </script>
                <input type="submit" value="Postar" id="submit" />
            </form>
        </div>
</div>