{% load staticfiles %}
{%include "header.html" %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        .last { border: 0px; }

        #revisar { margin-top: 10px; width: 500px; }
        #body { width: 500px; height: 250px; font-size: 1.3em; }
        #submit { float: right; }
        #rtitle {
            background: #eee; font-size: 1.3em; padding: 3px; margin-top: 40px;
            padding-left: 20px; margin-bottom: -10px;
        }
</style>

<div class="main">
        <div id="revisar">
            <div id="rtitle">{{ titulo }}</div><br />
            <form action="{{ acao }}" method="POST"> {% csrf_token %}
                Destino: <input type="text" name="destino" size="60" value="{{ destino }}" /><br />
                <textarea id="conteudo" name="conteudo">&lt;p&gt;{{ conteudo }}&lt;/p&gt;</textarea>
			    <script type="text/javascript">
				    CKEDITOR.replace( 'conteudo' );
			    </script>
                <input type="submit" value="Postar" id="submit" />
            </form>

        </div>
    </div>

 {% include "footer.html" %}