{% load staticfiles %}
{%include "header.html" %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
               
<div class="page-header">
  <div class="container">
    <h2>{{ titulo }}</h2>
  </div>
</div>

<div class="container"> 

  <textarea id="conteudo" name="conteudo">&lt;p&gt;{{ conteudo }}&lt;/p&gt;</textarea>
  <script type="text/javascript">
        CKEDITOR.replace( 'conteudo', {Toolbar: 'Full', height: 400});
  </script>

  <br/>
  <!-- Button -->
    <div class="row">   
      <div class='col-sm-8'>                          
        <a  class="btn btn-primary btn-sm criar-resumo" href={% url 'postar' 'revisar' pk %}>Nova Revisão</a>          
      </div>
    </div>
</div>



 <div class="main">
<!-- Respostas  -->


<div id="list">
{% autoescape off %}
  
    {% for revisao in revisoes %}
        <div class="post">
            <hr>
            revisão de {{ revisao.autor }} em <span class="date">{{ revisao.dtCriacao }}</span> <br /><br />
            {{ revisao.conteudo }} <br />
        </div>
    {% endfor %}

{% endautoescape %}


</div>