{% load staticfiles %}
{%include "header.html" %}

<style type="text/css">
     body{background-color: #fff;}    
</style>

<div class="page-header">
  <div class="container">
    <h2>Listar documentos</h2>
  </div>
</div>


<div class="container">
  <!-- Table -->
  <table class="table">
    <thead>
        <tr>
            <th><h3>{{ titulo }}</h3></th>                
        </tr>
    </thead>    
    <tbody>
        {% autoescape off %}
          {{ conteudo }}
        {% endautoescape %}
    </tbody>
  </table>

  {% for revisao in revisoes %}        
  <div class="bs-callout bs-callout-info">
    <blockquote>
      <p>
        <strong><span class="glyphicon glyphicon-paperclip"></span> Revisado por {{ revisao.autor }}</strong>
      </p>
      <foster>
        <span class="date">{{ revisao.dtCriacao }}</span>
        <h4><a href={% url 'detalhe' revisao.pk %}>Visualizar Revisão</a></h4>
      </foster>

    </blockquote>
  
       
  </div><br/>
  {% endfor %}  

  <!-- Button -->
  <form action="/relacionados" method="get">
    <div class="row">   
      <div class='col-sm-8'>      
          <div class="form-group">      
            <a class="btn btn-success btn-xs" href={% url 'postar' 'revisar' pk %}>Nova Revisão</a>            
            <button id="salvar" type="submit"  name="salvar" class="btn btn-danger btn-xs cancelar-resumo">Artigos Relacionado</button>
            <input type="hidden" name="q" value={{ pesquisa }}>                    
        </div>            
      </div>
    </div>
  </form>
     

</div>

